

html, body{
    height:100%;
    width:100%;
    background:#333333;
}

#root {
    height:100%;
}

#titlebar {
    -webkit-app-region: drag;
    position: fixed;
    width:100%;
    height:30px;
    z-index: 2;
    color:white;
    line-height: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}

#titlebar:hover {
    opacity: 1;
}

#titlebar #video-title {
    float:left;
    padding:5px 10px 5px 10px;
    font-weight: 500;
    height: 100%;
}

#titlebar #titlebar-buttons {
    margin:0;
    padding: 0;
    text-align: center;
    -webkit-app-region: no-drag;
    float: right;
    height: 100%;
   
}

#titlebar #titlebar-buttons .btn {
    text-align: center;    
    width:40px;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: rgba(0, 0, 0, 0);
    color:#ffffff;
}

#titlebar #titlebar-buttons .btn:hover {
    background-color: #D8000C;
    color:#ffffff;
}

#titlebar #titlebar-buttons .btn:focus {
    outline: none;
    box-shadow: none!important;
}


#video-player {
    height:100%;
    width:100%;
}

#video-container {
    margin:0px;
    padding:0px;

    width:100%;
    height:100%;

    display: block;
}

.video-js .vjs-control-bar {
    background-color: rgba(0, 0, 0, 0.3);
}